@page "{travelPlanId:guid}"
@model Reiseanwendung.Webapp.Pages.Reiseplan.AddDestinationModel
@{
    ViewData["Title"] = "Add Destination";
}

<h3>Add Destination to Travel Plan</h3>

<form method="post">
    <div class="form-group">
        <label asp-for="NewDestination.City"></label>
        <input asp-for="NewDestination.City" class="form-control" />
        <span asp-validation-for="NewDestination.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewDestination.Country"></label>
        <input asp-for="NewDestination.Country" class="form-control" />
        <span asp-validation-for="NewDestination.Country" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
