@page
@model Reiseanwendung.Webapp.Pages.Reiseplan.CreateModel
@{
    ViewData["Title"] = "Create Travel Plan";
}

<h2>Create Travel Plan</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="NewTravelPlan.Name"></label>
        <input asp-for="NewTravelPlan.Name" class="form-control" />
        <span asp-validation-for="NewTravelPlan.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewTravelPlan.StartDate"></label>
        <input asp-for="NewTravelPlan.StartDate" class="form-control" type="date" />
        <span asp-validation-for="NewTravelPlan.StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewTravelPlan.EndDate"></label>
        <input asp-for="NewTravelPlan.EndDate" class="form-control" type="date" />
        <span asp-validation-for="NewTravelPlan.EndDate" class="text-danger"></span>
    </div>

    <h3>Destinations</h3>
    <div id="destinations">
        <div class="destination">
            <div class="form-group">
                <label asp-for="NewTravelPlan.Destinations[0].City"></label>
                <input asp-for="NewTravelPlan.Destinations[0].City" class="form-control" />
                <span asp-validation-for="NewTravelPlan.Destinations[0].City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewTravelPlan.Destinations[0].Country"></label>
                <input asp-for="NewTravelPlan.Destinations[0].Country" class="form-control" />
                <span asp-validation-for="NewTravelPlan.Destinations[0].Country" class="text-danger"></span>
            </div>

            <h4>Activities</h4>
            <div class="form-group">
                <label asp-for="NewTravelPlan.Destinations[0].Activities[0].Name"></label>
                <input asp-for="NewTravelPlan.Destinations[0].Activities[0].Name" class="form-control" />
                <span asp-validation-for="NewTravelPlan.Destinations[0].Activities[0].Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewTravelPlan.Destinations[0].Activities[0].Description"></label>
                <input asp-for="NewTravelPlan.Destinations[0].Activities[0].Description" class="form-control" />
                <span asp-validation-for="NewTravelPlan.Destinations[0].Activities[0].Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewTravelPlan.Destinations[0].Activities[0].StartDateTime"></label>
                <input asp-for="NewTravelPlan.Destinations[0].Activities[0].StartDateTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="NewTravelPlan.Destinations[0].Activities[0].StartDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewTravelPlan.Destinations[0].Activities[0].EndDateTime"></label>
                <input asp-for="NewTravelPlan.Destinations[0].Activities[0].EndDateTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="NewTravelPlan.Destinations[0].Activities[0].EndDateTime" class="text-danger"></span>
            </div>

            <h4>Accommodation</h4>
            <div class="form-group">
                <label asp-for="NewTravelPlan.Destinations[0].Accommodations[0].Name"></label>
                <input asp-for="NewTravelPlan.Destinations[0].Accommodations[0].Name" class="form-control" />
                <span asp-validation-for="NewTravelPlan.Destinations[0].Accommodations[0].Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewTravelPlan.Destinations[0].Accommodations[0].Address.Street"></label>
                <input asp-for="NewTravelPlan.Destinations[0].Accommodations[0].Address.Street" class="form-control" />
                <span asp-validation-for="NewTravelPlan.Destinations[0].Accommodations[0].Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewTravelPlan.Destinations[0].Accommodations[0].Address.City"></label>
                <input asp-for="NewTravelPlan.Destinations[0].Accommodations[0].Address.City" class="form-control" />
                <span asp-validation-for="NewTravelPlan.Destinations[0].Accommodations[0].Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewTravelPlan.Destinations[0].Accommodations[0].Address.Country"></label>
                <input asp-for="NewTravelPlan.Destinations[0].Accommodations[0].Address.Country" class="form-control" />
                <span asp-validation-for="NewTravelPlan.Destinations[0].Accommodations[0].Address.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewTravelPlan.Destinations[0].Accommodations[0].Address.ZipCode"></label>
                <input asp-for="NewTravelPlan.Destinations[0].Accommodations[0].Address.ZipCode" class="form-control" />
                <span asp-validation-for="NewTravelPlan.Destinations[0].Accommodations[0].Address.ZipCode" class="text-danger"></span>
            </div>

            <h4>Transportation</h4>
            <div class="form-group">
                <label asp-for="NewTravelPlan.Destinations[0].Transportations[0].Type"></label>
                <input asp-for="NewTravelPlan.Destinations[0].Transportations[0].Type" class="form-control" />
                <span asp-validation-for="NewTravelPlan.Destinations[0].Transportations[0].Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewTravelPlan.Destinations[0].Transportations[0].BookingNumber"></label>
                <input asp-for="NewTravelPlan.Destinations[0].Transportations[0].BookingNumber" class="form-control" />
                <span asp-validation-for="NewTravelPlan.Destinations[0].Transportations[0].BookingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewTravelPlan.Destinations[0].Transportations[0].IsRoundTrip"></label>
                <input asp-for="NewTravelPlan.Destinations[0].Transportations[0].IsRoundTrip" class="form-control" type="checkbox" />
            </div>
            <div class="form-group">
                <label asp-for="NewTravelPlan.Destinations[0].Transportations[0].Cost"></label>
                <input asp-for="NewTravelPlan.Destinations[0].Transportations[0].Cost" class="form-control" type="number" />
                <span asp-validation-for="NewTravelPlan.Destinations[0].Transportations[0].Cost" class="text-danger"></span>
            </div>
        </div>
    </div>

    <h3>Persons</h3>
    <div id="persons">
        <div class="person">
            <div class="form-group">
                <label asp-for="NewTravelPlan.People[0].Name"></label>
                <input asp-for="NewTravelPlan.People[0].Name" class="form-control" />
                <span asp-validation-for="NewTravelPlan.People[0].Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewTravelPlan.People[0].Role"></label>
                <select asp-for="NewTravelPlan.People[0].Role" class="form-control">
                    <option value="Traveler">Traveler</option>
                    <option value="Guide">Guide</option>
                    <option value="Driver">Driver</option>
                </select>
                <span asp-validation-for="NewTravelPlan.People[0].Role" class="text-danger"></span>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-secondary" onclick="addPerson()">Add Another Person</button>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="/Reiseplan/Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        let personCount = 1;

        function addPerson() {
            let personsDiv = document.getElementById('persons');
            let personDiv = document.createElement('div');
            personDiv.className = 'person';
            personDiv.innerHTML = `
                                <div class="form-group">
                                    <label>Name</label>
                                    <input name="NewTravelPlan.People[${personCount}].Name" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Role</label>
                                    <select name="NewTravelPlan.People[${personCount}].Role" class="form-control">
                                        <option value="Traveler">Traveler</option>
                                        <option value="Guide">Guide</option>
                                        <option value="Driver">Driver</option>
                                    </select>
                                </div>
                            `;
            personsDiv.appendChild(personDiv);
            personCount++;
        }
    </script>
}
