@page
@model Reiseanwendung.Webapp.Pages.Reiseplan.CreateModel
@{
    ViewData["Title"] = "Create Travel Plan";
}

<h2>Create Travel Plan</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="NewTravelPlan.Name"></label>
        <input asp-for="NewTravelPlan.Name" class="form-control" />
        <span asp-validation-for="NewTravelPlan.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewTravelPlan.StartDate"></label>
        <input asp-for="NewTravelPlan.StartDate" class="form-control" type="date" />
        <span asp-validation-for="NewTravelPlan.StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewTravelPlan.EndDate"></label>
        <input asp-for="NewTravelPlan.EndDate" class="form-control" type="date" />
        <span asp-validation-for="NewTravelPlan.EndDate" class="text-danger"></span>
    </div>

    <h3>Destinations</h3>
    <div id="destinations">
        @for (int i = 0; i < Model.NewTravelPlan.Destinations.Count; i++)
        {
            <div class="destination">
                <div class="form-group">
                    <label asp-for="NewTravelPlan.Destinations[i].City"></label>
                    <input asp-for="NewTravelPlan.Destinations[i].City" class="form-control" />
                    <span asp-validation-for="NewTravelPlan.Destinations[i].City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewTravelPlan.Destinations[i].Country"></label>
                    <input asp-for="NewTravelPlan.Destinations[i].Country" class="form-control" />
                    <span asp-validation-for="NewTravelPlan.Destinations[i].Country" class="text-danger"></span>
                </div>

                <h4>Activities</h4>
                @for (int j = 0; j < Model.NewTravelPlan.Destinations[i].Activities.Count; j++)
                {
                    <div class="form-group">
                        <label asp-for="NewTravelPlan.Destinations[i].Activities[j].Name"></label>
                        <input asp-for="NewTravelPlan.Destinations[i].Activities[j].Name" class="form-control" />
                        <span asp-validation-for="NewTravelPlan.Destinations[i].Activities[j].Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewTravelPlan.Destinations[i].Activities[j].Description"></label>
                        <input asp-for="NewTravelPlan.Destinations[i].Activities[j].Description" class="form-control" />
                        <span asp-validation-for="NewTravelPlan.Destinations[i].Activities[j].Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewTravelPlan.Destinations[i].Activities[j].StartDateTime"></label>
                        <input asp-for="NewTravelPlan.Destinations[i].Activities[j].StartDateTime" class="form-control" type="datetime-local" />
                        <span asp-validation-for="NewTravelPlan.Destinations[i].Activities[j].StartDateTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewTravelPlan.Destinations[i].Activities[j].EndDateTime"></label>
                        <input asp-for="NewTravelPlan.Destinations[i].Activities[j].EndDateTime" class="form-control" type="datetime-local" />
                        <span asp-validation-for="NewTravelPlan.Destinations[i].Activities[j].EndDateTime" class="text-danger"></span>
                    </div>
                }

                <h4>Accommodation</h4>
                @for (int k = 0; k < Model.NewTravelPlan.Destinations[i].Accommodations.Count; k++)
                {
                    <div class="form-group">
                        <label asp-for="NewTravelPlan.Destinations[i].Accommodations[k].Name"></label>
                        <input asp-for="NewTravelPlan.Destinations[i].Accommodations[k].Name" class="form-control" />
                        <span asp-validation-for="NewTravelPlan.Destinations[i].Accommodations[k].Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewTravelPlan.Destinations[i].Accommodations[k].Address.Street"></label>
                        <input asp-for="NewTravelPlan.Destinations[i].Accommodations[k].Address.Street" class="form-control" />
                        <span asp-validation-for="NewTravelPlan.Destinations[i].Accommodations[k].Address.Street" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewTravelPlan.Destinations[i].Accommodations[k].Address.City"></label>
                        <input asp-for="NewTravelPlan.Destinations[i].Accommodations[k].Address.City" class="form-control" />
                        <span asp-validation-for="NewTravelPlan.Destinations[i].Accommodations[k].Address.City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewTravelPlan.Destinations[i].Accommodations[k].Address.Country"></label>
                        <input asp-for="NewTravelPlan.Destinations[i].Accommodations[k].Address.Country" class="form-control" />
                        <span asp-validation-for="NewTravelPlan.Destinations[i].Accommodations[k].Address.Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewTravelPlan.Destinations[i].Accommodations[k].Address.ZipCode"></label>
                        <input asp-for="NewTravelPlan.Destinations[i].Accommodations[k].Address.ZipCode" class="form-control" />
                        <span asp-validation-for="NewTravelPlan.Destinations[i].Accommodations[k].Address.ZipCode" class="text-danger"></span>
                    </div>
                }

                <h4>Transportation</h4>
                @for (int l = 0; l < Model.NewTravelPlan.Destinations[i].Transportations.Count; l++)
                {
                    <div class="form-group">
                        <label asp-for="NewTravelPlan.Destinations[i].Transportations[l].Type"></label>
                        <input asp-for="NewTravelPlan.Destinations[i].Transportations[l].Type" class="form-control" />
                        <span asp-validation-for="NewTravelPlan.Destinations[i].Transportations[l].Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewTravelPlan.Destinations[i].Transportations[l].BookingNumber"></label>
                        <input asp-for="NewTravelPlan.Destinations[i].Transportations[l].BookingNumber" class="form-control" />
                        <span asp-validation-for="NewTravelPlan.Destinations[i].Transportations[l].BookingNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewTravelPlan.Destinations[i].Transportations[l].IsRoundTrip"></label>
                        <input asp-for="NewTravelPlan.Destinations[i].Transportations[l].IsRoundTrip" class="form-control" type="checkbox" />
                    </div>
                    <div class="form-group">
                        <label asp-for="NewTravelPlan.Destinations[i].Transportations[l].Cost"></label>
                        <input asp-for="NewTravelPlan.Destinations[i].Transportations[l].Cost" class="form-control" type="number" />
                        <span asp-validation-for="NewTravelPlan.Destinations[i].Transportations[l].Cost" class="text-danger"></span>
                    </div>
                }
            </div>
        }
    </div>

    <h3>Persons</h3>
    <div id="persons">
        @for (int m = 0; m < Model.NewTravelPlan.People.Count; m++)
        {
            <div class="person">
                <div class="form-group">
                    <label asp-for="NewTravelPlan.People[m].Name"></label>
                    <input asp-for="NewTravelPlan.People[m].Name" class="form-control" />
                    <span asp-validation-for="NewTravelPlan.People[m].Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewTravelPlan.People[m].Role"></label>
                    <select asp-for="NewTravelPlan.People[m].Role" class="form-control">
                        <option value="Traveler">Traveler</option>
                        <option value="Guide">Guide</option>
                        <option value="Driver">Driver</option>
                    </select>
                    <span asp-validation-for="NewTravelPlan.People[m].Role" class="text-danger"></span>
                </div>
            </div>
        }
    </div>
    <button type="button" class="btn btn-secondary" onclick="addPerson()">Add Another Person</button>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="/Reiseplan/Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        let personCount = 1;

        function addPerson() {
            let personsDiv = document.getElementById('persons');
            let personDiv = document.createElement('div');
            personDiv.className = 'person';
            personDiv.innerHTML = `
                                <div class="form-group">
                                    <label>Name</label>
                                    <input name="NewTravelPlan.People[${personCount}].Name" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Role</label>
                                    <select name="NewTravelPlan.People[${personCount}].Role" class="form-control">
                                        <option value="Traveler">Traveler</option>
                                        <option value="Guide">Guide</option>

                                    </select>
                                </div>
                            `;
            personsDiv.appendChild(personDiv);
            personCount++;
        }
    </script>
}
